<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">

    <div class="form-group">
        <label for="Total">Total:</label>
        <input type="text" id="Total" name="Total" placeholder="Enter Total value (float)">
    </div>

    <div class="form-group">  
        <label for="HP">HP:</label>
        <input type="text" id="HP" name="HP" placeholder="Enter HP value (float)">
    </div>
    
    <div class="form-group">
        <label for="Attack">Attack:</label>
        <input type="text" id="Attack" name="Attack" placeholder="Enter Attack value (float)">
    </div>
  
    <div class="form-group">
        <label for="Defense">Defense:</label>
        <input type="text" id="Defense" name="Defense" placeholder="Enter Defense value (float)">
    </div>
  
    <div class="form-group">
        <label for="Sp_Atk">Sp_Atk:</label>
        <input type="text" id="Sp_Atk" name="Sp_Atk" placeholder="Enter Sp_Atk value (float)">
    </div>         

    <div class="form-group">
      <label for="Sp_Def">Sp_Def:</label>
      <input type="text" id="Sp_Def" name="Sp_Def" placeholder="Enter Sp_Def value (float)">
    </div> 

    <div class="form-group">
      <label for="Speed">Speed:</label>
      <input type="text" id="Speed" name="Speed" placeholder="Enter Speed value (float)">
    </div>
    
    <div class="form-group">
      <label for="Generation">Generation:</label>
      <input type="text" id="Generation" name="Generation" placeholder="Enter Generation value (float)">
    </div> 
    
    <div class="form-group">
      <label for="Pr_Male">Pr_Male:</label>
      <input type="text" id="Pr_Male" name="Pr_Male" placeholder="Enter Pr_Male value (float)">
    </div>         

    <div class="form-group">
      <label for="Height_m">Height_m:</label>
      <input type="text" id="Height_m" name="Height_m" placeholder="Enter Height_m value (float)">
    </div>         

    <div class="form-group">
      <label for="Weight_kg">Weight_kg:</label>
      <input type="text" id="Weight_kg" name="Weight_kg" placeholder="Enter Weight_kg value (float)">
    </div>             

    <div class="form-group">
      <label for="Catch_Rate">Catch_Rate:</label>
      <input type="text" id="Catch_Rate" name="Catch_Rate" placeholder="Enter Catch_Rate value (float)">
    </div>      

<div class="form-group">
  <label for="Type_1">Type_1:</label>
  <select id="Type_1" name="Type_1">
    <option value="Grass_Bug">Grass_Bug</option>
    <option value="Fire">Fire</option>
    <option value="Water_Ice">Water_Ice</option>
    <option value="Normal">Normal</option>
    <option value="Poison">Poison</option>
    <option value="Electric">Electric</option>
    <option value="Ground_Rock">Ground_Rock</option>
    <option value="Supernatural">Supernatural</option>
    <option value="Fighting">Fighting</option>
    <option value="Dragon">Dragon</option>
    <option value="Steel">Steel</option>
    <option value="Flying">Flying</option>
  </select>
</div>
  
<div class="form-group">
  <label for="color">Color:</label>
  <select id="color" name="color">
    <option value="Green">Green</option>
    <option value="Red">Red</option>
    <option value="Blue">Blue</option>
    <option value="White">White</option>
    <option value="Brown">Brown</option>
    <option value="Yellow">Yellow</option>
    <option value="Purple">Purple</option>
    <option value="Pink">Pink</option>
    <option value="Grey">Grey</option>
    <option value="Black">Black</option>
  </select>
</div>

<div class="form-group">
  <label for="hasGender">hasGender:</label>
  <select id="hasGender" name="hasGender">
    <option value="True">True</option>
    <option value="False">False</option>
  </select>
</div>

<div class="form-group">
  <label for="Egg_Group_1">Egg_Group_1:</label>
  <select id="Egg_Group_1" name="Egg_Group_1">
    <option value="Monster">Monster</option>
    <option value="Grass_Bug">Grass_Bug</option>
    <option value="Flying">Flying</option>
    <option value="Field">Field</option>
    <option value="Undiscovered">Undiscovered</option>
    <option value="Fairy">Fairy</option>
    <option value="Human-Like">Human-Like</option>
    <option value="Mineral">Mineral</option>
    <option value="Amorphous">Amorphous</option>
    <option value="Ditto">Ditto</option>
    <option value="Dragon">Dragon</option>
  </select>
</div>

<div class="form-group">
  <label for="hasMegaEvolution">hasMegaEvolution:</label>
  <select id="hasMegaEvolution" name="hasMegaEvolution">
    <option value="True">True</option>
    <option value="False">False</option>
  </select>
</div>

<div class="form-group">
  <label for="Body_Style">Body_Style:</label>
  <select id="Body_Style" name="Body_Style">
    <option value="quadruped">quadruped</option>
    <option value="bipedal_tailed">bipedal_tailed</option>
    <option value="insectoid">insectoid</option>
    <option value="serpentine_body">serpentine_body</option>
    <option value="four_wings">four_wings</option>
    <option value="two_wings">two_wings</option>
    <option value="bipedal_tailless">bipedal_tailless</option>
    <option value="head_legs">head_legs</option>
    <option value="head_base">head_base</option>
    <option value="multiple_bodies">multiple_bodies</option>
    <option value="several_limbs">several_limbs</option>
    <option value="head_arms">head_arms</option>
    <option value="with_fins">with_fins</option>
    <option value="head_only">head_only</option>
  </select>
</div>

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>

{{final_result}}
</body>
</html>